@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.card {
  @apply bg-red-200 m-8 shadow-md w-3/12 rounded-md overflow-hidden hover:shadow-lg duration-300;
}

.bookInfo {
  @apply flex mx-4 justify-between;
}
.navBarLinks {
  @apply flex flex-col items-center sm:items-end;
}
.linksOnHover {
  @apply mr-1 transition px-2 rounded-md hover:bg-red-400 hover:text-white hover:scale-110;
}
/* Active button styles */
.active {
  @apply bg-red-400 text-white ring-2 ring-red-500/50 ring-offset-0;
}
.authorsTable {
  @apply grow-0 shadow-2xl border-2 border-gray-400 min-w-72 w-full sm:w-5/12;
}
.authorsTableRow {
  @apply bg-red-100 hover:bg-red-200 cursor-pointer duration-300;
}
.filterButton {
  @apply rounded-md ml-5 px-2 bg-red-200 border-red-400 border-2 hover:bg-white;
}
.loginButton {
  @apply grid grid-cols-3 w-full  border-2 border-black rounded-lg m-4 p-1 hover:bg-black hover:text-white hover:border-transparent transition ease-linear duration-300 scale-100 transform hover:scale-110;
}
.addBookButton:enabled {
  @apply flex flex-col ml-3 items-center rounded-lg w-1/2 border-solid border-2 text-center border-black my-2 p-1 hover:bg-black hover:text-white hover:border-transparent hover:cursor-pointer transition ease-linear duration-500 scale-100 transform hover:scale-110;
}
.addBookButton:disabled {
  @apply flex flex-col ml-3 items-center rounded-lg w-1/2 border-solid border-2 text-center border-black my-2 p-1 bg-gray-300 text-gray-600 cursor-not-allowed;
}
.addGenreButton:enabled {
  @apply rounded-lg border-solid bg-white border-2 border-black my-2 p-1 hover:bg-black hover:text-white hover:border-transparent transition ease-linear duration-200 scale-100 transform hover:scale-110;
}
.addGenreButton:disabled {
  @apply rounded-lg border-solid border-2 border-black my-2 p-1 bg-gray-300 text-gray-600 cursor-not-allowed;
}
.registerButton:enabled {
  @apply rounded-lg border-solid border-2 border-black m-2 p-1 hover:bg-black hover:text-white hover:border-transparent transition ease-linear duration-300 scale-100 transform hover:scale-110;
}
.registerButton:disabled {
  @apply rounded-lg border-solid border-2 border-black m-2 p-1 bg-gray-300 text-gray-600 cursor-not-allowed;
}
.updateAuthorButton:enabled {
  @apply rounded-lg bg-white border-solid border-2 border-black m-2 p-1 hover:bg-black hover:text-white hover:border-transparent transition ease-linear duration-200 scale-100 transform hover:scale-110;
}
.updateAuthorButton:disabled {
  @apply rounded-lg bg-gray-300 text-gray-600 cursor-not-allowed border-solid border-2 border-black m-2 p-1;
}
dialog::backdrop {
  @apply backdrop-blur-sm;
}

.newAuthorDialog {
  @apply flex flex-col absolute top-0 m-auto p-0 w-1/4 border-2 border-gray-400 rounded-md h-3/5 bg-red-200 opacity-0;
  transform: translateY(-100%);
}
dialog[open] {
  animation: dropIn 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
dialog[close] {
  animation: dropOut 0.7s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: green;
  }
}

@keyframes dropOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translate(-0%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-0%, 0);
  }
}
